*{
    margin: 0px;
    padding: 0px;
}

header{
background-color: black;
height: 50px;
width: 100%;
}

#logo{
    background-image: url('../images/logo.png.png');
    width: 45px;
    height: 45px;
    background-size: cover;
    float: left;
    margin-right: 250px;
}


nav ul li{
    color: white;
    list-style: none;
    float: left;
    width: 100px ;
    margin: 0px 10px 0px 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
}
 nav ul li a:hover{
     background-color:white;
     cursor: pointer;
     color: black;

 }
nav ul li a{
    color: white;
    text-decoration: none;
}

