*{
   /** background-color: darkblue;**/
    padding:0px;
    margin:0px;
}

header{
    background-color: #ffe600;
    height: 40px;
    width: 100%;
    text-align: center;
}

nav{
    background-color:darkcyan;
    height: 50px;
    width: 100%;
}

article{
    background-color:green;
    width: 80%;
    height: 400px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

#publicidad {
    background-color:orangered;
    width: 20%;
    height: 400px;
    float: left;
}

footer{
    background-color:violet;
    width: 100%;
    height: 150px;
    float: left;
    clear: both;
}

#logo{
    background-image: url('../images/tucarro.png');
    width: 195px;
    height: 25px;
}

#imagen-corporativa{
    background-image: url('../images/imagen-corporativa.jpg');
    background-size: cover; /** para q la imagen se ajuste a la resulcion q le asigne**/
    height: 800px;
    width: 100%;

}